<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <script src="/static/pig-game.js"></script>
    <link rel="stylesheet" href="/static/pig-game.css" type="text/css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>